button{
    margin: 5px;
    border: 0px solid;
    border-radius: 5px;
    height: 25px;
    width: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}

h1{
    margin: 0px;
}

h2{
    margin: 0px;
}

h3{
    margin: 0px;
}