$gray-100: #f8f9fa;
$hot-pink: rgb(161, 25, 93);

$background-color-dark: rgba(255,105,180, 0.5);
$background-color-light: rgba(255, 168, 211, 0.801);

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    min-height: 60%;
    margin: 5px;
    border-radius: 15px;
    animation: bounce 1s infinite alternate;

    &.dark-theme {
        background-color: $background-color-dark;
        color: $gray-100;
    }
    
    &.light-theme {
        background-color: $background-color-light;
        color: $hot-pink;
    }

    p{
        font-size: 2rem;
        margin: auto;
    }
}